*  {
    margin:0;
    padding:0;
}


body{
	width:100%;
	height:100%;
	font-family: 'Quattrocento Sans', sans-serif;
	overflow-x:hidden;
}

.navbar-inverse{
	background-color: black;	
}

#navbar-brand-mahalo{
	height: 48px;
	margin-top: -13px;
}

.footer{
	position: fixed;
	bottom:0;
	width: 100%;
	background-color: black;
	height: 30px;
	padding: 5px;
	color: gray;
}


.content{
	background-image: linear-gradient(black, white);
	margin-top:50px;
	margin-bottom: 30px;
	padding: 6px;
}
.content-left{
	float:left;
	width: 34%;
	margin-right: 6px;
	padding:4px;
	border-radius:6px;
	background-color: rgb(230,230,230);
}
.content-right{
	float:right;
	width: 65%;
	padding:4px;
	border-radius:6px;
	background-color: rgb(230,230,230);
}

.form{
	width: 100%;
}
.form input{
	width: 100%;
}
.ui-growl {
    position: absolute;
    top: 52px;
}
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar {
    width: 6px;
    background: gray;
}
::-webkit-scrollbar-thumb {
    background: rgb(134, 184, 27);
}

.ui-datatable-even td{
	background-color: rgb(255,255,255);
}

.ui-datatable-odd td{
	background-color: rgb(219,255,183);
}

.ui-state-highlight td{
	color: white;
	font-weight: 500;
	background-color: rgb(134,184,27);
}

.ui-state-hover td{
	background-color: rgb(134, 184, 27);
}


.ui-datatable .ui-column-filter{
	width: 100% !important; 
}

.loadingDialog{
	text-align: center;	
}